services:
  backend:
    build:
      context: ./backend
    container_name: django-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: react-frontend
    ports:
      - "5173:5173"
    depends_on:
      backend:
        condition: service_started
