version: "3.9"

services:
  backend:
    image: rkdocker7894/django-backend:latest
    ports:
      - "8000:8000"
    restart: always

  frontend:
    image: rkdocker7894/react-frontend:latest
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
