name: CI/CD Pipeline - Docker Build & Push

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend Image
        run: |
          docker build -t subhashree1234/django-backend:latest ./backend
          docker push subhashree1234/django-backend:latest

      - name: Build & Push Frontend Image
        run: |
          docker build -t subhashree1234/react-frontend:latest ./frontend
          docker push subhashree1234/react-frontend:latest
